body{
    margin: 0;
    overflow: hidden;
}
#dvd{
    position: absolute;
    width: 200px;
    height: auto;
}
#bg{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
#dvd:hover{
    cursor: pointer;
}